# bandwidth
#
# This file was automatically generated by APIMATIC v2.0
# ( https://apimatic.io ).

module Bandwidth
module Dashboard
  # ExternalController
  class ExternalController < BaseController
    def initialize(config, http_call_back: nil)
      super(config, http_call_back: http_call_back)
    end

    # discover what is currently enabled on the account
    # @param [Integer] account_id Required parameter: Example:
    # @return [AccountProductsResponse] response from the API call
    def get_products(account_id)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/accounts/{accountId}/products'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'accountId' => { 'value' => account_id, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body,
                                   'AccountProductsResponse',
                                   AccountProductsResponse)
      )
    end

    # TODO
    # @param [Integer] account_id Required parameter: Example:
    # @param [String] product_name Required parameter: Example:
    # @return [AccountProductResponse] response from the API call
    def get_account_product(account_id,
                            product_name)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/accounts/{accountId}/products/{productName}'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'accountId' => { 'value' => account_id, 'encode' => false },
        'productName' => { 'value' => product_name, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body, 'AccountProductResponse',
                                   AccountProductResponse)
      )
    end

    # GET is used to retrieve all addresses.
    # @param [Integer] account_id Required parameter: Example:
    # @param [String] page Optional parameter: Example:
    # @param [Integer] size Optional parameter: Example:
    # @param [String] type Optional parameter: Example:
    # @param [String] e911locationid Optional parameter: Example:
    # @param [String] suggestions Optional parameter: Example:
    # @return [AddressesResponse] response from the API call
    def get_addresses(account_id,
                      page: nil,
                      size: nil,
                      type: nil,
                      e911locationid: nil,
                      suggestions: nil)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/accounts/{accountId}/addresses'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'accountId' => { 'value' => account_id, 'encode' => false }
      )
      _query_builder = APIHelper.append_url_with_query_parameters(
        _query_builder,
        'page' => page,
        'size' => size,
        'type' => type,
        'e911locationid' => e911locationid,
        'suggestions' => suggestions
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)

      # Validate response against endpoint and global error codes.
      if _response.status_code == 404
        raise APIException.new(
          'Not Found - if the account specified does not exist or is locked' \
          ' or there are no addresses for specified search' \
          ' criteria it will result in a not found.',
          _response
        )
      end
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body, 'AddressesResponse',
                                   AddressesResponse)
      )
    end

    # GET is used to retrieve a detailed information of Alternate end user
    # identifier by acid.
    # @param [Integer] account_id Required parameter: Example:
    # @param [String] identifier Required parameter: Example:
    # @return [AlternateEndUserIdentifierResponse] response from the API call
    def get_aeui(account_id,
                 identifier)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/accounts/{accountId}/aeuis/{identifier}'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'accountId' => { 'value' => account_id, 'encode' => false },
        'identifier' => { 'value' => identifier, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)

      # Validate response against endpoint and global error codes.
      if _response.status_code == 404
        raise APIException.new(
          'Not Found - if the account specified does not exist or is locked' \
          ' or there are no AEUI that corresponds to specified' \
          ' acid it will result in a "NOT FOUND" response.',
          _response
        )
      end
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body,
                                   'AlternateEndUserIdentifierResponse',
                                   AlternateEndUserIdentifierResponse)
      )
    end

    # GET is used to retrieve all Alternate end user identifiers.
    # @param [Integer] account_id Required parameter: Example:
    # @param [String] page Optional parameter: Example:
    # @param [Integer] size Optional parameter: Example:
    # @param [String] aeui Optional parameter: Example:
    # @param [String] callback Optional parameter: Example:
    # @param [Boolean] pidfloenabledonly Optional parameter: Example:
    # @param [String] suggestions Optional parameter: Example:
    # @param [String] callername Optional parameter: Example:
    # @param [String] location_id Optional parameter: Example:
    # @param [Integer] e911address_id Optional parameter: Example:
    # @return [AlternateEndUserIdentifiersResponse] response from the API call
    def get_aeuis_1(account_id,
                    page: nil,
                    size: nil,
                    aeui: nil,
                    callback: nil,
                    pidfloenabledonly: nil,
                    suggestions: nil,
                    callername: nil,
                    location_id: nil,
                    e911address_id: nil)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/accounts/{accountId}/aeuis'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'accountId' => { 'value' => account_id, 'encode' => false }
      )
      _query_builder = APIHelper.append_url_with_query_parameters(
        _query_builder,
        'page' => page,
        'size' => size,
        'aeui' => aeui,
        'callback' => callback,
        'pidfloenabledonly' => pidfloenabledonly,
        'suggestions' => suggestions,
        'callername' => callername,
        'locationId' => location_id,
        'e911addressId' => e911address_id
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)

      # Validate response against endpoint and global error codes.
      if _response.status_code == 404
        raise APIException.new(
          'Not Found - if the account specified does not exist or is locked' \
          ' or there are no AEUIs for specified search criteria it' \
          ' will result in a "NOT FOUND" response.',
          _response
        )
      end
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body,
                                   'AlternateEndUserIdentifiersResponse',
                                   AlternateEndUserIdentifiersResponse)
      )
    end

    # Lists all Applications<br><p><br>  <ul>    <li> CallbackCreds Password is
    # not returned in response for security reasons </li>  </ul></p>
    # @param [Integer] account_id Required parameter: Example:
    # @return [ApplicationResponse] response from the API call
    def get_all_applications(account_id)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/accounts/{accountId}/applications'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'accountId' => { 'value' => account_id, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body,
                                   'ApplicationProvisioningResponse',
                                   ApplicationResponse)
      )
    end

    # Create an Application, CallbackUrl field is deprecated field, use
    # MsgCallbackUrl instead
    # @param [Integer] account_id Required parameter: Example:
    # @param [ApplicationPayload] body Optional parameter: Example:
    # @return [ApplicationResponse] response from the API call
    def create_application(account_id,
                           body: nil)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/accounts/{accountId}/applications'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'accountId' => { 'value' => account_id, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml',
        'content-type' => 'application/xml; charset=utf-8'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.post(
        _query_url,
        headers: _headers,
        parameters: XmlUtilities.serialize_to_xml('Application', body)
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body,
                                   'ApplicationProvisioningResponse',
                                   ApplicationResponse)
      )
    end

    # Retrieve an Application
    # @param [Integer] account_id Required parameter: Example:
    # @param [String] application_id Required parameter: Example:
    # @return [ApplicationResponse] response from the API call
    def get_application_by_id(account_id,
                              application_id)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/accounts/{accountId}/applications/{applicationId}'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'accountId' => { 'value' => account_id, 'encode' => false },
        'applicationId' => { 'value' => application_id, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body,
                                   'ApplicationProvisioningResponse',
                                   ApplicationResponse)
      )
    end

    # Update an Application. <br> <ul>    <li> ServiceType can have value of
    # Voice-V2 or Messaging-V2 but it can't be changed for existing application
    # </li> </ul>     <p>For ServiceType of Messaging-V2 <br>       <ul>        
    # <li> MsgCallbackUrl (CallbackUrl - is deprecated) is required </li>      
    # </ul>     </p>     <p>For ServiceType of Voice-V2       <ul>         <li>
    # CallInitiatedCallbackUrl - required for voice </li>         <li>
    # CallInitiatedMethod - optional for voice [POST|GET] default is POST if not
    # specified</li>         <li> CallStatusCallbackUrl - optional for voice
    # </li>         <li> CallStatusMethod - optional for voice [POST|GET]
    # default is POST if not specified </li>         <li>
    # CallInitiatedFallbackUrl - optional for voice </li>         <li>
    # CallInitiatedFallbackMethod - optional for voice [POST|GET] default is
    # POST if not specified </li>         <li> CallbackTimeout - optional for
    # voice. Range from 1 to 25 seconds. </li>       </ul>     </p>    
    # <p>CallbackCreds - can only be specified by External users       <ul>     
    #     <li> CallbackCreds with same UserId but different Password will change
    # password</li>          <li> If you want credentials, both UserId and
    # Password must be specified.</li>          <li> If you do not want
    # passwords, CallbackCreds should be omitted entirely.</li>          <li>
    # UserId and Password should have length between 6 and 63 symbols.</li>     
    #  </ul>     </p>     <p>CallInitiatedFallbackCreds - can only be specified
    # by External users      <ul>         <li> If you want credentials, both
    # UserId and Password must be specified.</li>         <li> If you do not
    # want passwords, CallInitiatedFallbackCreds should be omitted
    # entirely.</li>         <li> UserId and Password should have length between
    # 6 and 63 symbols.</li>       </ul>     </p>
    # @param [Integer] account_id Required parameter: Example:
    # @param [String] application_id Required parameter: Example:
    # @param [ApplicationPayload] body Optional parameter: Example:
    # @return [ApplicationResponse] response from the API call
    def update_application(account_id,
                           application_id,
                           body: nil)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/accounts/{accountId}/applications/{applicationId}'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'accountId' => { 'value' => account_id, 'encode' => false },
        'applicationId' => { 'value' => application_id, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml',
        'content-type' => 'application/xml; charset=utf-8'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.put(
        _query_url,
        headers: _headers,
        parameters: XmlUtilities.serialize_to_xml('Application', body)
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body,
                                   'ApplicationProvisioningResponse',
                                   ApplicationResponse)
      )
    end

    # Delete an Application. <br>An Application cannot be removed from an
    # account if that Application is referenced by any Location associated with
    # the account.<br>
    # @param [Integer] account_id Required parameter: Example:
    # @param [String] application_id Required parameter: Example:
    # @return [ApplicationResponse] response from the API call
    def delete_application(account_id,
                           application_id)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/accounts/{accountId}/applications/{applicationId}'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'accountId' => { 'value' => account_id, 'encode' => false },
        'applicationId' => { 'value' => application_id, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.delete(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body,
                                   'ApplicationProvisioningResponse',
                                   ApplicationResponse)
      )
    end

    # Patch update an Application<br> <ul>  <li> CallStatusCallbackUrl can be
    # removed by settings its value to 'remove'  </li> </ul>
    # @param [Integer] account_id Required parameter: Example:
    # @param [String] application_id Required parameter: Example:
    # @param [ApplicationPayload] body Optional parameter: Example:
    # @return [ApplicationResponse] response from the API call
    def patch_application(account_id,
                          application_id,
                          body: nil)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/accounts/{accountId}/applications/{applicationId}'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'accountId' => { 'value' => account_id, 'encode' => false },
        'applicationId' => { 'value' => application_id, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml',
        'content-type' => 'application/xml; charset=utf-8'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.patch(
        _query_url,
        headers: _headers,
        parameters: XmlUtilities.serialize_to_xml('Application', body)
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body,
                                   'ApplicationProvisioningResponse',
                                   ApplicationResponse)
      )
    end

    # Retrieve a list of sippeers, associated with application
    # @param [Integer] account_id Required parameter: Example:
    # @param [String] application_id Required parameter: Example:
    # @return [AssociatedSipPeersResponse] response from the API call
    def get_associated_sippeers_by_application_id_id(account_id,
                                                     application_id)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/accounts/{accountId}/applications/{applicationId}/associatedsippeers'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'accountId' => { 'value' => account_id, 'encode' => false },
        'applicationId' => { 'value' => application_id, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)

      # Validate response against endpoint and global error codes.
      if _response.status_code == 400
        raise APIException.new(
          'Bad Request',
          _response
        )
      elsif _response.status_code == 404
        raise APIException.new(
          'Not Found',
          _response
        )
      end
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body,
                                   'AssociatedSipPeersResponse',
                                   AssociatedSipPeersResponse)
      )
    end

    # Retrieve the information for a specific Campaign ID.
    # @param [String] id Required parameter: Example:
    # @return [Object] response from the API call
    def get_admin_data(id)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/admin/data/a2pcampaignids/{id}'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'id' => { 'value' => id, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)

      # Validate response against endpoint and global error codes.
      if _response.status_code == 404
        raise APIException.new(
          'Campaign ID not found',
          _response
        )
      end
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body, 'response', String)
      )
    end

    # TODO
    # @param [String] name_fragment Optional parameter: Example:
    # @return [Object] response from the API call
    def get_all_admin_data(name_fragment: nil)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/admin/data/a2pcampaignids'
      _query_builder = APIHelper.append_url_with_query_parameters(
        _query_builder,
        'nameFragment' => name_fragment
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body, 'response', String)
      )
    end

    # Get A2P Class.
    # @param [String] id Required parameter: Example:
    # @return [Object] response from the API call
    def get_admin_data_1(id)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/admin/data/a2pclasses/{id}'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'id' => { 'value' => id, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)

      # Validate response against endpoint and global error codes.
      if _response.status_code == 404
        raise APIException.new(
          'A2P Class not found',
          _response
        )
      end
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body, 'response', String)
      )
    end

    # Get all A2P Classes.
    # @param [String] name_fragment Optional parameter: Example:
    # @return [Object] response from the API call
    def get_all_admin_data_1(name_fragment: nil)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/admin/data/a2pclasses'
      _query_builder = APIHelper.append_url_with_query_parameters(
        _query_builder,
        'nameFragment' => name_fragment
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body, 'response', String)
      )
    end

    # TODO
    # @param [String] id Required parameter: Example:
    # @return [Object] response from the API call
    def get_admin_data_6(id)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/{id}'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'id' => { 'value' => id, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body, 'response', String)
      )
    end

    # Get all bwspids
    # @param [String] name_fragment Optional parameter: Example:
    # @return [Object] response from the API call
    def get_all_admin_data_3(name_fragment: nil)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/admin/data/bwspids'
      _query_builder = APIHelper.append_url_with_query_parameters(
        _query_builder,
        'nameFragment' => name_fragment
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body, 'response', String)
      )
    end

    # Get Bwspid
    # @param [String] id Required parameter: Example:
    # @return [Object] response from the API call
    def get_admin_data_3(id)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/admin/data/bwspids/{id}'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'id' => { 'value' => id, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)

      # Validate response against endpoint and global error codes.
      if _response.status_code == 404
        raise APIException.new(
          'Bwspid not found',
          _response
        )
      end
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body, 'response', String)
      )
    end

    # This resource retrieves information about pom.
    # @param [Integer] account_id Required parameter: Example:
    # @return [Object] response from the API call
    def get_admin_data_7(account_id)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/admin/data/blockedaccount/{accountId}'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'accountId' => { 'value' => account_id, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)

      # Validate response against endpoint and global error codes.
      if _response.status_code == 404
        raise APIException.new(
          'Account does not have a POM configuration.',
          _response
        )
      end
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body, 'response', String)
      )
    end

    # Retrieve the information for a specific proxy sippeer.
    # @param [String] id Required parameter: Example:
    # @return [Object] response from the API call
    def get_admin_data_9(id)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/admin/data/proxypeers/{id}'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'id' => { 'value' => id, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)

      # Validate response against endpoint and global error codes.
      if _response.status_code == 404
        raise APIException.new(
          'proxy sippeer not found',
          _response
        )
      end
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body, 'response', String)
      )
    end

    # Get all proxy sippeers (they should be sippeers of catapult accounts)
    # @param [String] name_fragment Optional parameter: Example:
    # @return [Object] response from the API call
    def get_all_admin_data_8(name_fragment: nil)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/admin/data/proxypeers'
      _query_builder = APIHelper.append_url_with_query_parameters(
        _query_builder,
        'nameFragment' => name_fragment
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body, 'response', String)
      )
    end

    # TODO
    # @return [SbcNodeGroups] response from the API call
    def get_all_admin_data_9
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/admin/data/sbcnodegroups'
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body, 'SbcNodeGroups',
                                   SbcNodeGroups)
      )
    end

    # TODO
    # @param [String] sbc_group_id Required parameter: Example:
    # @param [String] account_id Required parameter: Example:
    # @return [Object] response from the API call
    def get_admin_data_10(sbc_group_id,
                          account_id)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/accounts/{accountId}/sbcnodegroups/{sbcGroupId}'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'sbcGroupId' => { 'value' => sbc_group_id, 'encode' => false },
        'accountId' => { 'value' => account_id, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body, 'response', String)
      )
    end

    # get SystemEventSubscription.
    # @param [String] id Required parameter: Example:
    # @return [Object] response from the API call
    def get_admin_data_11(id)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/admin/data/systemeventsubscriptions/{id}'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'id' => { 'value' => id, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)

      # Validate response against endpoint and global error codes.
      if _response.status_code == 404
        raise APIException.new(
          'SystemEventSubscription not found',
          _response
        )
      end
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body, 'response', String)
      )
    end

    # TODO
    # @param [String] name_fragment Optional parameter: Example:
    # @return [Object] response from the API call
    def get_all_admin_data_10(name_fragment: nil)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/admin/data/systemeventsubscriptions'
      _query_builder = APIHelper.append_url_with_query_parameters(
        _query_builder,
        'nameFragment' => name_fragment
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body, 'response', String)
      )
    end

    # Get Vendor.
    # @param [String] id Required parameter: Example:
    # @return [Object] response from the API call
    def get_admin_data_14(id)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/admin/data/vendors/{id}'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'id' => { 'value' => id, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)

      # Validate response against endpoint and global error codes.
      if _response.status_code == 404
        raise APIException.new(
          'Vendor not found',
          _response
        )
      end
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body, 'response', String)
      )
    end

    # Get all vendors and filter by name
    # @param [String] name_fragment Optional parameter: Example:
    # @return [Object] response from the API call
    def get_all_admin_data_12(name_fragment: nil)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/admin/data/vendors'
      _query_builder = APIHelper.append_url_with_query_parameters(
        _query_builder,
        'nameFragment' => name_fragment
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body, 'response', String)
      )
    end

    # TODO
    # @param [String] property Required parameter: Example:
    # @return [Object] response from the API call
    def get_admin_option_error_with_parameter(property)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/{property}'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'property' => { 'value' => property, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body, 'response', String)
      )
    end

    # TODO
    # @param [String] sippeer_id Required parameter: Example:
    # @return [Object] response from the API call
    def get_admin_data_16(sippeer_id)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/{sippeerId}'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'sippeerId' => { 'value' => sippeer_id, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body, 'response', String)
      )
    end

    # The GET returns the current settings, indicating the user ID, and the
    # result from attempted authentication with the stored credentials.  If the
    # Authentication fails subsequent attempts will be made using default
    # credentials until the issue is resolved.
    # @param [Integer] account_id Required parameter: Example:
    # @return [E911SettingsResponse] response from the API call
    def get_e911_configuration(account_id)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/accounts/{accountId}/products/e911/settings'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'accountId' => { 'value' => account_id, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)

      # Validate response against endpoint and global error codes.
      if _response.status_code == 404
        raise APIException.new(
          'NOT FOUNDIf the E911 product exists on the account, but settings' \
          ' are missing, then the 404 not found response is' \
          ' used.If the E911 product does not exist on the account' \
          ' then the 404 will indicate that the E911 products' \
          ' resource cannot be found.',
          _response
        )
      end
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body, 'E911SettingsResponse',
                                   E911SettingsResponse)
      )
    end

    # There are three primary settings that are provided as part of the Edge
    # Management product: The SBC settings that are associated with the
    # account,SipAuthentication that provide settings for SIP authentication and
    # ProductSpecificAccessRestrictions that can restrict Termination traffic
    # for sipCredendital.    <br>    <b>SbcSettings:</b>    <table>   
    # <tr><th>Parameter</th><th>Description</th></tr>   
    # <tr><td>TrunkGroupId</td><td>element defines id of the trunk group
    # associated with the Account in TGA</td></tr>   
    # <tr><td>NodeGroupName</td><td>element are the node group name set up in
    # TGA</td></tr>    </table>    <br>    <b>SipAuthentication:</b>     <table>
    #     <tr><th>Parameter</th><th>Description</th></tr>    
    # <tr><td>Enabled</td><td>enable SIP Authentication on account. Values that
    # can be accepted: true, false</td></tr>     <tr><td>Status</td><td>provide
    # information about processing status. This field cannot be
    # updated.</td></tr>     <tr><td>Errors</td><td>List of errors that happened
    # during sip auth provisioning. This field cannot be updated.</td></tr>    
    # </table>    <br><br>    <b>ProductSpecificAccessRestrictions</b>(requires
    # existence of SipCredentialSettings)<b>:</b>    <table>   
    # <tr><th>Parameter</th><th>Description</th></tr>   
    # <tr><td>RestrictedProduct</td><td>Product to restrict. Values that can be
    # accepted: Termination</td></tr>   
    # <tr><td>RestrictedAccessType</td><td>Type of restriction. Values that can
    # be accepted: SipCredentials</td></tr>    </table>
    # @param [Integer] account_id Required parameter: Example:
    # @return [EdgeManagementConfigurationResponse] response from the API call
    def get_edge_management_configuration(account_id)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/accounts/{accountId}/products/edgemanagement/settings'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'accountId' => { 'value' => account_id, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)

      # Validate response against endpoint and global error codes.
      if _response.status_code == 404
        raise APIException.new(
          'If the settings are not present for the EdgeManagement product a' \
          ' 404 NOT FOUND is returned with an explanatory payload.',
          _response
        )
      end
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body,
                                   'EdgeManagementSettingsResponse',
                                   EdgeManagementConfigurationResponse)
      )
    end

    # Gets all SIP Authentication settings
    # @param [Integer] account_id Required parameter: Example:
    # @return [AccountSipAuthSettingsResponse] response from the API call
    def get_sip_authentication_configuration(account_id)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/accounts/{accountId}/products/edgemanagement/settings/sipauthentication'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'accountId' => { 'value' => account_id, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)

      # Validate response against endpoint and global error codes.
      if _response.status_code == 404
        raise APIException.new(
          'If the configuration is not present a 404 NOT FOUND is returned' \
          ' with an explanatory payload.',
          _response
        )
      end
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body,
                                   'SipAuthenticationResponse',
                                   AccountSipAuthSettingsResponse)
      )
    end

    # POST is used to validate address as geocode-able one. Request payload is
    # the address to geocode. If decomposed elements are provided for
    # AddressLine 1 then AddressLine1 is ignored. At least HouseNumber and
    # StreetName are required to use them as replacement of AddressLine1. If at
    # least HouseNumber or StreetName is absent then AddressLine1 is used.
    # AddressLine1 information is required in either way. City and StateCode
    # fields are required.
    # @param [Integer] account_id Required parameter: Example:
    # @param [GeocodeRequestAddress] body Optional parameter: Example:
    # @return [GeocodeRequestResponse] response from the API call
    def create_get_addresses_1(account_id,
                               body: nil)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/accounts/{accountId}/geocoderequest'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'accountId' => { 'value' => account_id, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml',
        'content-type' => 'application/xml; charset=utf-8'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.post(
        _query_url,
        headers: _headers,
        parameters: XmlUtilities.serialize_to_xml('RequestAddress', body)
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)

      # Validate response against endpoint and global error codes.
      if _response.status_code == 400
        raise APIException.new(
          'Bad request - service cannot geocode address or validation rules' \
          ' were violated.',
          _response
        )
      elsif _response.status_code == 409
        raise APIException.new(
          'Conflict - address is close to one that can be geocoded.',
          _response
        )
      elsif _response.status_code == 500
        raise APIException.new(
          'System error - internal error which cannot be fixed by changing' \
          ' payload etc.',
          _response
        )
      elsif _response.status_code == 503
        raise APIException.new(
          'Service unavailable - for some reason service is temporary' \
          ' unavailable.',
          _response
        )
      end
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body, 'GeocodeRequestResponse',
                                   GeocodeRequestResponse)
      )
    end

    # TODO
    # @param [String] holiday_date Required parameter: Example:
    # @return [HolidayResponse] response from the API call
    def get_holiday(holiday_date)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/{holidayDate}'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'holidayDate' => { 'value' => holiday_date, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body, 'HolidayResponse',
                                   HolidayResponse)
      )
    end

    # The GET returns the current settings, indicating is Messaging product
    # enabled now and if yes will Messaging feature be enabled on each new
    # telephone number.
    # @param [Integer] account_id Required parameter: Example:
    # @return [MessagingSettingsResponse] response from the API call
    def get_messaging_settings(account_id)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/accounts/{accountId}/products/messaging/settings'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'accountId' => { 'value' => account_id, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)

      # Validate response against endpoint and global error codes.
      if _response.status_code == 404
        raise APIException.new(
          'NOT FOUNDIf the Messaging product exists on the account, but' \
          ' settings are missing, then the 404 not found response' \
          ' is used.If the Messaging product does not exist on the' \
          ' account then the 404 will indicate that the Messaging' \
          ' products resource cannot be found.',
          _response
        )
      end
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body,
                                   'MessagingSettingsResponse',
                                   MessagingSettingsResponse)
      )
    end

    # The GET returns the current list of routes associated with the various
    # types of TNs that can be assigned messaging routes.Zero or more routes can
    # be returned for each type of TN; each one of these routes is identified by
    # an NNID, or an ESPID while we transition from ESPIDs to NNIDs.For
    # reference the various types of TNs that can be assigned differentiated
    # routes are...<table>    <tr><th>XML element</th><th>Type of TN
    # description</th></tr>    <tr><td>OnNetTns</td><td>On Net Bandwidth owned
    # TNs</td></tr>    <tr><td>OffNetTns</td><td>Off-net TNs in Bandwidth's
    # inventory</td></tr>    <tr><td>OffNetCanadianTns</td><td>Canadian TNs in
    # Bandwidth's inventory</td></tr>    <tr><td>TollFreeTns</td><td>TollFree
    # TNs in Bandwidth's inventory</td></tr>   
    # <tr><td>ExternalCustomerOwnedTns</td><td>TNs owned by the customer in
    # NPAC, and imported into Bandwidth's inventory for the customer's
    # use</td></tr>    <tr><td>ExternalThirdPartyTns</td><td>TNs owned by a 3rd
    # party in NPAC, and imported into Bandwidth's inventory for the customer's
    # use</td></tr>    <tr><td>ExternalCanadianTns</td><td>Canadian TNs eh,
    # imported into Bandwidth's inventory for the customer's use</td></tr>   
    # <tr><td>ExternalTollFreeTns</td><td>Toll Free TNs imported into
    # Bandwidth's inventory for the customer's use</td></tr>   
    # <tr><td>A2pTollFreeTns</td><td>A2P Non Toll Free NNID</td></tr>   
    # <tr><td>A2pNonTollFreeTns</td><td>A2P Toll Free NNID</td></tr></table>If a
    # single route is returned that implies that all of the TNs of the
    # associated type will use the listed NNID for routing.If no route values
    # are returnet that implies that Bandwidth is not involved in setting up
    # routes - that must be done using other means.It also implies that Messages
    # sent to TNs of that type will be routed off-net.If there are multiple
    # route values configured it means that the customer is empowered to assign
    # one of the NNIDs to any of the messaging enabled TNs on their account.In
    # the multiple routes case the only one route per Tn Type in the list is
    # taken to be the default value assigned to TNs when provisioned.
    # @param [Integer] account_id Required parameter: Example:
    # @param [Boolean] details Optional parameter: Example:
    # @return [AccountMessagingRoutesResponse] response from the API call
    def get_account_routes(account_id,
                           details: nil)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/accounts/{accountId}/products/messaging/routes'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'accountId' => { 'value' => account_id, 'encode' => false }
      )
      _query_builder = APIHelper.append_url_with_query_parameters(
        _query_builder,
        'details' => details
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body,
                                   'AccountMessagingRoutesResponse',
                                   AccountMessagingRoutesResponse)
      )
    end

    # Get sms settings for account
    # @param [Integer] account_id Required parameter: Example:
    # @return [AccountSmsFeatureResponse] response from the API call
    def get_sms_feature(account_id)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/accounts/{accountId}/products/messaging/features/sms'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'accountId' => { 'value' => account_id, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body,
                                   'AccountSmsFeatureResponse',
                                   AccountSmsFeatureResponse)
      )
    end

    # Get http settings for account
    # @param [Integer] account_id Required parameter: Example:
    # @return [AccountHttpFeatureResponse] response from the API call
    def get_http_feature(account_id)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/accounts/{accountId}/products/messaging/features/http'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'accountId' => { 'value' => account_id, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body,
                                   'AccountHttpFeatureResponse',
                                   AccountHttpFeatureResponse)
      )
    end

    # TODO
    # @param [Integer] account_id Required parameter: Example:
    # @return [AccountMmsFeatureSettingsResponse] response from the API call
    def retrieve_mms_feature_settings(account_id)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/accounts/{accountId}/products/messaging/features/mms/settings'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'accountId' => { 'value' => account_id, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body,
                                   'AccountMmsFeatureSettingsResponse',
                                   AccountMmsFeatureSettingsResponse)
      )
    end

    # Get mm4 settings for account
    # @param [Integer] account_id Required parameter: Example:
    # @return [MmsFeatureMm4SettingsResponse] response from the API call
    def retrieve_mms_feature_mm4_settings(account_id)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/accounts/{accountId}/products/messaging/features/mms/mm4settings'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'accountId' => { 'value' => account_id, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body,
                                   'MmsFeatureMm4AdminSettingsResponse',
                                   MmsFeatureMm4SettingsResponse)
      )
    end

    # Get mms settings for account
    # @param [Integer] account_id Required parameter: Example:
    # @return [AccountMmsFeatureResponse] response from the API call
    def get_mms_feature(account_id)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/accounts/{accountId}/products/messaging/features/mms'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'accountId' => { 'value' => account_id, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body,
                                   'AccountMmsFeatureResponse',
                                   AccountMmsFeatureResponse)
      )
    end

    # TODO
    # @param [String] property_name Required parameter: Example:
    # @return [ProductsResponse] response from the API call
    def get_property(property_name)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/{propertyName}'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'propertyName' => { 'value' => property_name, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body, 'ProductsResponse',
                                   ProductsResponse)
      )
    end

    # GET is used to retrieve all SIP credentials for the account.
    # @param [Integer] account_id Required parameter: Example:
    # @param [String] page Optional parameter: Example:
    # @param [Integer] size Optional parameter: Example:
    # @param [String] usernamefragment Optional parameter: Example:
    # @param [String] domainfragment Optional parameter: Example:
    # @return [AccountSipCredentials] response from the API call
    def get_sip_credentials(account_id,
                            page: nil,
                            size: nil,
                            usernamefragment: nil,
                            domainfragment: nil)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/accounts/{accountId}/sipcredentials'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'accountId' => { 'value' => account_id, 'encode' => false }
      )
      _query_builder = APIHelper.append_url_with_query_parameters(
        _query_builder,
        'page' => page,
        'size' => size,
        'usernamefragment' => usernamefragment,
        'domainfragment' => domainfragment
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)

      # Validate response against endpoint and global error codes.
      if _response.status_code == 404
        raise APIException.new(
          'Not Found - if the account specified does not exist or is locked' \
          ' or there are no SIP credentials associated with' \
          ' specified account it will result in a not found.',
          _response
        )
      end
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body, 'SipCredentials',
                                   AccountSipCredentials)
      )
    end

    # POST is used to create SIP credentials and associate its with the
    # account.The key data elements in the submission are - <table
    # style="text-align: left; width: 80%;" border="1" cellpadding="2"
    # cellspacing="2">  <tbody>    <tr>      <td>UserName</td>      <td>This is
    # subscriber name or aggregated name and domain value(ex: John@bw.com).
    # Field is required. Max length - 32 characters.</td>    </tr>    <tr>     
    # <td>Domain</td>      <td>This is subscriber domain. Domain is optional and
    # if present will be appended to the UserName with an '@'. Max length - 32
    # characters.</td>    </tr>    <tr>      <td>Hash1</td>      <td>This is
    # hash value #1 in MD5 representation. Field is required. Max length - 64
    # characters.</td>    </tr>    <tr>      <td>Hash1b</td>      <td>This is
    # hash value #2 in MD5 representation. Field is optional. Max length - 64
    # characters.</td>    </tr>  </tbody></table>
    # @param [Integer] account_id Required parameter: Example:
    # @param [AccountSipCredentials] body Optional parameter: Example:
    # @return [AccountSipCredentialsCreateResponse] response from the API call
    def create_sip_credentials(account_id,
                               body: nil)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/accounts/{accountId}/sipcredentials'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'accountId' => { 'value' => account_id, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml',
        'content-type' => 'application/xml; charset=utf-8'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.post(
        _query_url,
        headers: _headers,
        parameters: XmlUtilities.serialize_to_xml('SipCredentials', body)
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)

      # Validate response against endpoint and global error codes.
      if _response.status_code == 400
        raise APIException.new(
          'Bad Request - If all credential entries in specified list are' \
          ' invalid it will result in bad request with list of' \
          ' errors.',
          _response
        )
      end
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body, 'SipCredentialsResponse',
                                   AccountSipCredentialsCreateResponse)
      )
    end

    # TODO
    # @param [Integer] account_id Required parameter: Example:
    # @param [String] aggregatedusername Required parameter: Example:
    # @return [SipCredentialResponse] response from the API call
    def get_sip_credential(account_id,
                           aggregatedusername)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/accounts/{accountId}/sipcredentials/{aggregatedusername}'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'accountId' => { 'value' => account_id, 'encode' => false },
        'aggregatedusername' => { 'value' => aggregatedusername, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body, 'SipCredentialResponse',
                                   SipCredentialResponse)
      )
    end

    # TODO
    # @param [Integer] account_id Required parameter: Example:
    # @param [String] aggregatedusername Required parameter: Example:
    # @param [SipCredential] body Optional parameter: Example:
    # @return [SipCredentialResponse] response from the API call
    def update_sip_credential(account_id,
                              aggregatedusername,
                              body: nil)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/accounts/{accountId}/sipcredentials/{aggregatedusername}'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'accountId' => { 'value' => account_id, 'encode' => false },
        'aggregatedusername' => { 'value' => aggregatedusername, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml',
        'content-type' => 'application/xml; charset=utf-8'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.put(
        _query_url,
        headers: _headers,
        parameters: XmlUtilities.serialize_to_xml('SipCredential', body)
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body, 'SipCredentialResponse',
                                   SipCredentialResponse)
      )
    end

    # TODO
    # @param [Integer] account_id Required parameter: Example:
    # @param [String] aggregatedusername Required parameter: Example:
    # @return [Object] response from the API call
    def delete_sip_credential(account_id,
                              aggregatedusername)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/accounts/{accountId}/sipcredentials/{aggregatedusername}'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'accountId' => { 'value' => account_id, 'encode' => false },
        'aggregatedusername' => { 'value' => aggregatedusername, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.delete(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body, 'response', String)
      )
    end

    # retrieves the information associated with the site id
    # @param [Integer] account_id Required parameter: Example:
    # @param [Integer] site_id Required parameter: Example:
    # @return [SiteResponse] response from the API call
    def get_site(account_id,
                 site_id)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/accounts/{accountId}/sites/{siteId}'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'accountId' => { 'value' => account_id, 'encode' => false },
        'siteId' => { 'value' => site_id, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)

      # Validate response against endpoint and global error codes.
      if _response.status_code == 404
        raise APIException.new(
          'the site id entered does not exist',
          _response
        )
      end
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body, 'SiteResponse',
                                   SiteResponse)
      )
    end

    # updates the contents of a site id
    # @param [Integer] account_id Required parameter: Example:
    # @param [Integer] site_id Required parameter: Example:
    # @param [Site] body Optional parameter: Example:
    # @return [SiteResponse] response from the API call
    def update_site(account_id,
                    site_id,
                    body: nil)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/accounts/{accountId}/sites/{siteId}'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'accountId' => { 'value' => account_id, 'encode' => false },
        'siteId' => { 'value' => site_id, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml',
        'content-type' => 'application/xml; charset=utf-8'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.put(
        _query_url,
        headers: _headers,
        parameters: XmlUtilities.serialize_to_xml('Site', body)
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)

      # Validate response against endpoint and global error codes.
      if _response.status_code == 400
        raise APIException.new(
          'Information essential to the site id is missing',
          _response
        )
      elsif _response.status_code == 409
        raise APIException.new(
          'Address needs some changes',
          _response
        )
      end
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body, 'SiteResponse',
                                   SiteResponse)
      )
    end

    # deletes the site - sites can only be deleted if there are no SIP Peers
    # attached to it
    # @param [Integer] account_id Required parameter: Example:
    # @param [Integer] site_id Required parameter: Example:
    # @return [SiteResponse] response from the API call
    def delete_site(account_id,
                    site_id)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/accounts/{accountId}/sites/{siteId}'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'accountId' => { 'value' => account_id, 'encode' => false },
        'siteId' => { 'value' => site_id, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.delete(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)

      # Validate response against endpoint and global error codes.
      if _response.status_code == 400
        raise APIException.new(
          'DELETE request is invalid given the current state of the site',
          _response
        )
      end
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body, 'SiteResponse',
                                   SiteResponse)
      )
    end

    # retrieve a list of all the sites associated with the account
    # @param [Integer] account_id Required parameter: Example:
    # @param [Boolean] tn_counts Optional parameter: Example:false
    # @param [Boolean] sip_peer_details Optional parameter: Example:false
    # @param [Boolean] summary Optional parameter: Example:false
    # @return [SitesResponse] response from the API call
    def get_sites(account_id,
                  tn_counts: false,
                  sip_peer_details: false,
                  summary: false)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/accounts/{accountId}/sites'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'accountId' => { 'value' => account_id, 'encode' => false }
      )
      _query_builder = APIHelper.append_url_with_query_parameters(
        _query_builder,
        'tnCounts' => tn_counts,
        'sipPeerDetails' => sip_peer_details,
        'summary' => summary
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body, 'SitesResponse',
                                   SitesResponse)
      )
    end

    # Add a site to the account
    # @param [Integer] account_id Required parameter: Example:
    # @param [Site] body Optional parameter: Example:
    # @return [SiteResponse] response from the API call
    def create_site(account_id,
                    body: nil)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/accounts/{accountId}/sites'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'accountId' => { 'value' => account_id, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml',
        'content-type' => 'application/xml; charset=utf-8'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.post(
        _query_url,
        headers: _headers,
        parameters: XmlUtilities.serialize_to_xml('Site', body)
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)

      # Validate response against endpoint and global error codes.
      if _response.status_code == 400
        raise APIException.new(
          'Information is missing from the body of the add site request',
          _response
        )
      elsif _response.status_code == 409
        raise APIException.new(
          'Address needs some changes',
          _response
        )
      end
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body, 'SiteResponse',
                                   SiteResponse)
      )
    end

    # These are the settings associated with the provisioning of Termination
    # settings. The current values represented below detail the legacy
    # Termination settings appropriate for customers currently on Bandwidth
    # Dashboard API.  In the future Bandwidth Dashboard API customers will use
    # the Roger Termination Product manager, and define the set of Roger
    # parameters using an extension of this interface.  A parameter
    # 'RogerUsedForTerminationSettings' is used to control this behavior...   
    # <ul>    <li>If RogerUsedForTerminationSettings is false, then the
    # LegacyTerminationSettings will be used, RogerTerminationSettings will be
    # empty</li>    <li>If RogerUsedForTerminationSettings is transition, then
    # both LegacyTerminationSettings and RogerTerminationSettings elements are
    # used</li>    <li>If RogerUsedForTerminationSettings is true, then the
    # RogerTerminationSettings element will be used.  LegacyTerminationSettings
    # will be empty.</li>    </ul>    <ul>    <li>HttpVoiceProxyTermHost is
    # created automatically when the first voice application is created for HTTP
    # Voice V2 for this account, and deleted when the last voice application for
    # HTTP Voice V2 is removed from this account.</li>   
    # <li>HttpVoiceProxyTermHost is only displayed for internal users.</li>   
    # </ul>
    # @param [Integer] account_id Required parameter: Example:
    # @return [AccountTerminationConfigurationResponse] response from the API call
    def get_termination_configuration(account_id)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/accounts/{accountId}/products/termination/settings'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'accountId' => { 'value' => account_id, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)

      # Validate response against endpoint and global error codes.
      if _response.status_code == 404
        raise APIException.new(
          'If the settings are not present for the Termination product a 404' \
          ' NOT FOUND is returned with an explanatory payload.',
          _response
        )
      end
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body,
                                   'TerminationSettingResponse',
                                   AccountTerminationConfigurationResponse)
      )
    end

    # Retrieve Toll Free Settings for this account
    # @param [Integer] account_id Required parameter: Example:
    # @return [TollFreeSettingsResponse] response from the API call
    def get_toll_free_configuration(account_id)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/accounts/{accountId}/products/tollfree/settings'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'accountId' => { 'value' => account_id, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)

      # Validate response against endpoint and global error codes.
      if _response.status_code == 400
        raise APIException.new(
          'Failure to parse the request, or inconsistent provisioned data,' \
          ' such as no related product associated with the account.',
          _response
        )
      end
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body,
                                   'TollFreeSettingsResponse',
                                   TollFreeSettingsResponse)
      )
    end

    # These are the settings associated with the provisioning of UC Trunking
    # settings.
    # @param [Integer] account_id Required parameter: Example:
    # @return [UcTrunkingCloudConfigurationResponse] response from the API call
    def get_uc_trunking_hosted_configuration(account_id)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/accounts/{accountId}/products/uctrunks'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'accountId' => { 'value' => account_id, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)

      # Validate response against endpoint and global error codes.
      if _response.status_code == 404
        raise APIException.new(
          'If the settings are not present for the UC Trunking product a 404' \
          ' NOT FOUND is returned with an explanatory payload.',
          _response
        )
      end
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body,
                                   'UcTrunkingCloudSettingsResponse',
                                   UcTrunkingCloudConfigurationResponse)
      )
    end

    # This resource can be PUT or POSTed to in order to establish the
    # appropriate settings.Some of the important values that are established as
    # part of this UC Trunking are described in the section on POST.
    # @param [Integer] account_id Required parameter: Example:
    # @param [UcTrunkingCloudConfigurationPayload] body Optional parameter:
    # Example:
    # @return [UcTrunkingCloudConfigurationResponse] response from the API call
    def update_uc_trunking_hosted_configuration(account_id,
                                                body: nil)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/accounts/{accountId}/products/uctrunks'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'accountId' => { 'value' => account_id, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml',
        'content-type' => 'application/xml; charset=utf-8'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.put(
        _query_url,
        headers: _headers,
        parameters: XmlUtilities.serialize_to_xml('UcTrunkingCloudSettings',
                                                  body)
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)

      # Validate response against endpoint and global error codes.
      if _response.status_code == 400
        raise APIException.new(
          'a 400 BAD REQUEST will be returned with a descriptive payload if' \
          ' the XML describing the UC Trunking settings resource' \
          ' is incorrect.  The error contains an error code and' \
          ' description.',
          _response
        )
      end
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body,
                                   'UcTrunkingCloudSettingsResponse',
                                   UcTrunkingCloudConfigurationResponse)
      )
    end

    # Creates a UC Trunking hosted (cloud) configuration
    # @param [Integer] account_id Required parameter: Example:
    # @param [UcTrunkingCloudConfigurationPayload] body Optional parameter:
    # Example:
    # @return [UcTrunkingCloudConfigurationResponse] response from the API call
    def create_uc_trunking_hosted_configuration(account_id,
                                                body: nil)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/accounts/{accountId}/products/uctrunks'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'accountId' => { 'value' => account_id, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml',
        'content-type' => 'application/xml; charset=utf-8'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.post(
        _query_url,
        headers: _headers,
        parameters: XmlUtilities.serialize_to_xml('UcTrunkingCloudSettings',
                                                  body)
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)

      # Validate response against endpoint and global error codes.
      if _response.status_code == 400
        raise APIException.new(
          'a 400 BAD REQUEST will be returned with a descriptive payload if' \
          ' the XML describing the UC Trunking settings resource' \
          ' is incorrect.  The error contains an error code and' \
          ' description.',
          _response
        )
      end
      validate_response(_response)

      # Return appropriate response type.
      ApiResponse.new(
        _response,
        data: XmlUtilities.deserialize_xml(_response.raw_body,
                                   'UcTrunkingCloudSettingsResponse',
                                   UcTrunkingCloudConfigurationResponse)
      )
    end

    # These are the settings associated with the provisioning of UC Trunking
    # settings.
    # @param [Integer] account_id Required parameter: Example:
    # @return [OriginationConfigurationResponse] response from the API call
    def get_uc_trunking_configuration(account_id)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::DASHBOARDDEFAULT)
      _query_builder << '/accounts/{accountId}/products/uctrunking/settings'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'accountId' => { 'value' => account_id, 'encode' => false }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/xml'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      DashboardBasicAuth.apply(config, _request)
      _response = execute_request(_request)

      # Validate response against endpoint and global error codes.
      if _response.status_code == 404
        raise APIException.new(
          'If the settings are not present for the UC Trunking product a 404' \
[...]
